.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(126, 110, 133);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    nav{
        display: flex;
        width: 100vw;
        justify-content: center;
        height: 8vh;
        background-color: rebeccapurple;

        &

        a{
            color: rgb(59, 53, 46);
            font-size: 1.5em;
            padding: 15px;

        }
    }
    .conteudo{
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        background-color: aliceblue;
    }
}

.menu li{
    display: inline;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}